h1{
    color: rgb(128, 6, 6);
    margin-top: 1rem;
    text-align: center;
}

p{
    text-align: center;
}

input{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-size: large;
}

h1, p, input{
    font-family: 'Courier New', Courier, monospace;
}